.discount {
    margin-top:200px;
    height: 297px;
    width:auto;
flex-shrink: 0;
background: #4B4951;

}
.discount__container{
    position:relative;
    padding:50px 191px;
}

.back-fon--1 {
    position:absolute;
    bottom:25%;
    right:64%;
}
.back-fon--2 {
    position:absolute;
    bottom:25%;
    left:86%;
}
.back-fon {
    color: rgba(196, 196, 196, 0.20);
    font-family: Montserrat;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.30000001192092896;
    
    
   
}
.discount__content {
    position:relative;
overflow: hidden;
    padding: 30px 66px;
    width: 730px;
height: 197px;
flex-shrink: 0;
border-radius: 15px;
background: #FFF;
}
.discount__gradient{
    position: absolute;
    left:138px;
    transform: rotate(5.971deg);
    bottom:35px;
    width: 1149px;
height: 413.234px;
flex-shrink: 0;
border-radius: 1149px;
}
.discount__item{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 599px;
height: 137px;
flex-shrink: 0;
}
.discount__box-1{
    display: flex;
    width: 476px;
height: 57px;
flex-shrink: 0;
}
.discount__box-2{
    width: 599px;
height: 45px;
flex-shrink: 0;
display: flex;
justify-content: space-between;
}
.discount__text {
    font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 255px;
height: 40px;
flex-shrink: 0;
}
.discount__tittle {
    
    font-size: 36px;
    line-height: normal;
}

.discount__text--black {
    margin-top:13px;
    margin-left:26px;
    color:black;
    width: 210px;
height: 42px;
flex-shrink: 0;
}
.discount__btn {
    color:white;
    padding: 12px 45px;
    border-radius: 62px;
background: linear-gradient(90deg, #F05E65 0%, #FC9A63 100%);
border:1px solid white;
box-shadow: 0px 0px 15px 0px rgba(246, 124, 100, 0.30);
}