$width_container:1110px;
*{
    box-sizing: border-box;
}
body{
    margin:0px;
    padding:0px;
}
.displaynone{
    display:none;
}
ul{
    list-style: none;
    padding-left:0;
    
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
    font-style: normal;
}
.container {
    width:$width_container;//1110px;
    padding: 0px;
    margin: 0px auto;
    }


.tittle {
    color: #000;
    font-family: Montserrat;
font-style: normal;
font-weight: 700;

}
.red-ball{
    display: flex;
    width: 6px;
    height: 6px;
    background: #FF3535;
    border-radius: 6px;
    flex-shrink: 0;
    position:absolute;
  
}
.shadow{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}
.text{
            color: #333;
            font-size: 24px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
}
.arrow{
    border-right: 1px solid;
    border-bottom: 1px solid;

}
.bold{
    font-weight: bold;
}
.gradient {

    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(255, 128, 102, 0.50) 0%, rgba(255, 195, 183, 0.00) 100%);
    
    }