
$header_padding_item_of_list1:20px;
$header_padding_item_of_list2:31px;
$header_padding_item_of_list3:309px;
$header_padding_item_of_list4:33px;
$header_padding_item_of_list5:22px;
$header_padding_item_of_list6:24px;




    //фотки начало
.img-navigation{
    width: 15.424px;
    height: 18.693px;
    background-image: url(../navigation\ 1\ \(Traced\).png);

    flex-shrink: 0;
    //position:relative;

   
    margin-right:11.58px;
    transform: translateY(3px);
    //transform: translateX(-11.58px);
    

}
.img-phone{
    width: 12.904px;
    height: 16.956px;
    background-image: url(../telephone\ 1\ \(Traced\).png);
    background-repeat: no-repeat;
    flex-shrink: 0;
    
        margin-right:9.1px;
        transform: translateY(3px);
}
.img-arrow{
    width:0;
    height:0;
    border:5px solid transparent;
    border-top:5px solid #787878;
    flex-shrink: 0;
    margin-left:3px;
    
}
.img-icon{
    width: 27.778px;
    height: 33.668px;
    background-image: url(../Vector.png);
    flex-shrink: 0;
    margin-right:11.58px;
    transform: translateY(6px);
    


    }

    //фотки конец

    .header__list{
        display:flex;
        align-items:center;
        position:relative;

        // &:nth-child(2){
        //     position: relative;
        // }
        // &:nth-child(3){
        //     position: relative;
            
        // }
    }
    .header__navigation{
        height: 41px;
        
        >.header__list{
            
    
            >.header__item{
        &:nth-child(1){
        padding-left:$header_padding_item_of_list1;//20px

        }
        &:nth-child(2){
        padding-left:$header_padding_item_of_list2;//px
        }
        &:nth-child(3){
        padding-left:$header_padding_item_of_list3;//px
        }
        &:nth-child(4){
        padding-left:$header_padding_item_of_list4;//px
        }
        &:nth-child(5){
        padding-left:$header_padding_item_of_list5;//px
        }
        &:nth-child(6){
        padding-left:$header_padding_item_of_list6;//px
        }
    }
}
    }
.list{
    margin:0px;
    padding:0px;
    .item{
        list-style: none;
        // margin:0px;
     
    }
}

.header__item{
    >a{
       font-family: 'Roboto', sans-serif;
    }
    &:not(:nth-child(5)){
        >a{
            font-weight: 500;
        }
    }
    &:not(:nth-child(5),:last-child){
        >a{
                
            font-size: 14px;
                
        }
        
    }
    &:first-child,&:nth-child(4){
        >a{
            color: #667EEA;
        }
    }
    &:nth-child(2),&:nth-child(3){
        >a{
            color: #A6A6A6;
        }
            
    
    }
 
    &:nth-child(5){
        >a{
            font-size: 16px;
            color: #787878;
            font-weight: 700;
            line-height: 229%;
        }
  }
        &:last-child{

            >a{
            text-decoration: underline;
            font-size: 16px;
            color: #494949;
            

            }
        }
}


.header__icon-ball{
    left:24px;
    top:8px;
}



.infinity-line{
    width:auto;
    height:89px;
    border-bottom: 2px solid #A6A6A6 ;
    border-top: 2px solid #A6A6A6 ;
}
.header__navigation-aside {
    display:flex;
    align-items: center;
    
    margin: 0 auto;
    width:1160px;
    height:89px;
    justify-content: space-between;

    .header__logo {
        background-image: url(../logo.png);
        width: 210px;
        height: 38.256px;
        flex-shrink: 0;
        transform:translateY(-3px);
    }
    .header__btn {
        width: 110px;
        height: 26px;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        background: #667EEA;
        border-radius: 13px;
        border:3px solid #667EEA;
        
        position:relative;
        
      


        .btn__text {
            color: #FFF;
        font-size: 16px;
        font-family: Colfax;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }
        .header__btn-ball{

            left:67px;
            bottom: 13px;
        }


        .btn__arrow {
            width: 7px;
            height: 7px;
            margin-left: 7px;
            margin-top: 5px;
            transform: rotate(45deg);
            flex-shrink: 0;
            border-color: white;
        }

    }
    .header__input{
        height: 28px;
        width: 758px;
        position:relative;
        display: flex;
    }
    .header__input-text{
        
        border-radius: 20px;
        border: 1px solid #A6A6A6;
        width: 758px;
        height: 28px;
        flex-shrink: 0;
        
       
    }
    .header__magnifier{
        
            width: 16px;
            height: 18px;
            flex-shrink: 0;
            background-image: url(../magnifier.png);
            position:absolute;
            left:732px;
            top:5px;
            
       
    }





}






.btn{
    


}

  

   

