*{
    box-sizing: border-box;
}
body{
    margin:0px;
    padding:0px;
}
a{
    text-decoration: none;
    font-style: normal;
}
.container {
    width:$width_container;//1110px;
    padding: 0px;
    margin: 0px auto;
    }


.tittle {
    font-family: Montserrat;
font-style: normal;
font-weight: 700;

}