@import "_general styles.scss";
@import "_header.scss";
@import "_hero.scss";
@import "_relevance.scss";
@import "_products.scss";
@import "_responsibility.scss";
@import "_advantage.scss";
@import "_discount.scss";