body{
    margin:0;
    padding:0;
    height: 100%;

}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    margin: 0;
    }
    
    /* a {
    text-decoration: none;
    } */
    
    ul {
    margin: 0;
    padding: 0;
    }
    
    
    .wrapper {
    min-height: 100%;
    
    }
    
    .container {
    width:1110px;
    padding: 0px;
    margin: 0px auto;
    background-color: red;
    }


li{
    list-style: none;
    padding-left: 0px;
}
/* .wrapper {
width:auto;
height:auto;

} */
.header {
    display:flex;
justify-content: center;
align-items:center;
height:105px;

}


.header__navigation {
    height:42px;

    background-color:aliceblue;

}
.header__list {
display:flex;

}
div>ul>.header__item{
    margin-left:70px;
    display:flex;
}

.header__item>a{
    font-family: 'Roboto', sans-serif;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    

}
.header__item:not(:last-child)>a{
    text-decoration: none;
}
.header__item:nth-child(3n+1) > a{
    color: #667EEA;
}
.header__item:nth-child(2) > a, :nth-child(3) > a {
    color: #A6A6A6;
}
.header__item:nth-child(5)>a{
    font-weight: 700;
    /* line-height: 229%; */
}
.header__item:nth-child(5)>a, :last-child>a{
    font-size: 16px;
}

.header__item:nth-child(4)>a{
    text-align: right;
}
.img-phone{
width: 12.904px;
height: 16.956px;
background-image: url(../сайтпрактика/telephone\ 1\ \(Traced\).png);
flex-shrink: 0;
}
.header__item .header__list{
    
    display:flex;
}
.img-navigation{
    
    width: 15.424px;
height: 18.693px;
background-image: url(../сайтпрактика/navigation\ 1\ \(Traced\).png);
flex-shrink: 0;
}
.img-arrow{
    
    width: 6px;
height: 6px;
background-image: url(../сайтпрактика/Polygon\ 3.png);
flex-shrink: 0;
}
/* .header__item:nth-child(6) li::before{
    content: "";
    display: block;
    width: 27.778px;
height: 33.668px;
background-image: url(../сайтпрактика/Vector.png);
flex-shrink: 0;


} */
.img-icon{
    width: 27.778px;
height: 33.668px;
background-image: url(../сайтпрактика/Vector.png);
flex-shrink: 0;
    position:relative;
    
    }
.img-icon::after{
    content: "";
    display: flex;
    width: 6px;
height: 6px;
background: #FF3535;
border-radius: 6px;
flex-shrink: 0;
position:absolute;
bottom: 27px;
left: 21px; 


}

.header__item:nth-child(5)>a{
    color: #787878;
}
.header__item:last-child>a{
     color: #494949; 
   
}